*{
    box-sizing: border-box
    margin 0;
    padding: 0;
    color: blueviolet;
    background-color: black;
}
main{
    background-color: purple;
}

#titulo{
    padding: 15px 30px;
    border: 20px ridge blueviolet;
    margin: auto;
    box-sizing: border-box;
}
.container img{
    width: 400px;
    display: flex;
}
.container{
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-between;

}
#logo{
    width: 60px;
    height: 60px;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}